<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-content scroll-div">
            {# User Profile Section #}
            <div class="">
                <div class="main-menu-header">
                    <img class="img-radius" src="{{ asset('assets/images/user/avatar-2.jpg') }}" alt="User-Profile-Image">
                    <div class="user-details">
                        <span>{{app.user.prenom ~ ' ' ~ app.user.nom|default('John Doe') }}</span>
                        <div id="more-details">{{ app.user.role|default('UX Designer') }}<i class="fa fa-chevron-down m-l-5"></i></div>
                    </div>
                </div>
                <div class="collapse" id="nav-user-link">
                    <ul class="list-unstyled">
                        <li class="list-group-item"><a ><i class="feather icon-user m-r-5"></i>View Profile</a></li>
                        <li class="list-group-item"><a href="{{ path('app_user_settings') }}"><i class="feather icon-settings m-r-5"></i>Settings</a></li>
                        <li class="list-group-item"><a href="{{ path('app_logout') }}"><i class="feather icon-log-out m-r-5"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
            
            {# Main Navigation Menu #}
            <ul class="nav pcoded-inner-navbar">
                {# Dashboard Section #}
                <li class="nav-item pcoded-menu-caption">
                    <label>Home</label>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'dashboard' %}active{% endif %}" href="{{ path('dashboard') }}">
                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                </li>


                {# hotel & Transport Section #}
                <li class="nav-item pcoded-menu-caption">
                    <label>Reservation</label>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" {% if app.request.get('_route') == 'app_hotel_index' %}active{% endif %}" href="{{ path('app_hotel_index') }}">
                        <span class="pcoded-micon"><i class="feather icon-file-text"></i></span>
                        <span class="pcoded-mtext">Hotel</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_transport_index' %}active{% endif %}" href="{{ path('app_transport_index') }}">
                        <span class="pcoded-micon"><i class="feather icon-align-justify"></i></span>
                        <span class="pcoded-mtext">Transport</span>
                    </a>
                </li>

                {# Finance Section #}
                <li class="nav-item pcoded-menu-caption">
                    <label>Finance</label>
                </li>
               
               <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'manager_avances' %}active{% endif %}" href="{{ path('manager_avances') }}">
                        <span class="pcoded-micon"><i class="feather icon-align-justify"></i></span>
                        <span class="pcoded-mtext">Avance</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'stats_frais' %}active{% endif %}" href="{{ path('stats_frais') }}">
                        <span class="pcoded-micon"><i class="feather icon-align-justify"></i></span>
                        <span class="pcoded-mtext">Statistiques</span>
                    </a>
                </li>

                {# Community Section #}
                <li class="nav-item pcoded-menu-caption">
                    <label>Community</label>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_statut_index' %}active{% endif %}" href="{{ path('app_statut_index') }}">
                        <span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span>
                        <span class="pcoded-mtext">Forum</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_users_list') }}" class="flex items-center px-4 py-2 text-gray-600 hover:bg-gray-100 rounded-md" >
                        <i class="feather icon-user m-r-5">

                        </i>Users
                    </a>
                </li>
                

                {# Pages Section #}
                <li class="nav-item pcoded-menu-caption">
                    <label>Pages</label>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-lock"></i></span>
                        <span class="pcoded-mtext">Authentication</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li><a target="_blank">Sign up</a></li>
                        <li><a  target="_blank">Sign in</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a  class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Sample page</span>
                    </a>
                </li>
            </ul>
            
            
        </div>
    </div>
</nav>