<!DOCTYPE html>

<title>Frai</title>

{% block body %}
    <h1>Frai</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ frai.id }}</td>
            </tr>
            <tr>
                <th>Employe_id</th>
                <td>{{ frai.employeId }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ frai.type }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ frai.montant }}</td>
            </tr>
            <tr>
                <th>Date_depense</th>
                <td>{{ frai.dateDepense ? frai.dateDepense|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Pdf</th>
                <td>{{ frai.pdf }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_frai_index') }}">back to list</a>

    <a href="{{ path('app_frai_edit', {'id': frai.id}) }}">edit</a>

    {{ include('front/frai/_delete_form.html.twig') }}
{% endblock %}
