{% extends 'back/base.html.twig' %}

{% block title %}Statut{% endblock %}

{% block body %}
    <h1>Statut</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ statut.id }}</td>
            </tr>
            <tr>
                <th>Type_contenu</th>
                <td>{{ statut.typeContenu }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ statut.contenu }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ statut.dateCreation ? statut.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Media_url</th>
                <td>{{ statut.mediaUrl }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_statut_index') }}">back to list</a>

    <a href="{{ path('app_statut_edit', {'id': statut.id}) }}">edit</a>

    {{ include('forum/statut/_delete_form.html.twig') }}
{% endblock %}
