{% extends 'base.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block body %}
    <h1>Hotel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hotel.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ hotel.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ hotel.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ hotel.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ hotel.pays }}</td>
            </tr>
            <tr>
                <th>Nombre_etoiles</th>
                <td>{{ hotel.nombreEtoiles }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ hotel.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ hotel.email }}</td>
            </tr>
            <tr>
                <th>Site_web</th>
                <td>{{ hotel.siteWeb }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hotel_index') }}">back to list</a>

    <a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}">edit</a>

    {{ include('hotel/_delete_form.html.twig') }}
{% endblock %}
