{% extends 'front/employee_home/index.html.twig' %}

{% block title %}My Travels - TripEase{% endblock %}
{% block nav %}
        <ul>
          <li><a href="{{ path('app_employee_home') }}" >Home</a></li>
          <li><a href="{{ path('app_my_travels') }}" class="active" >Mes voyages</a></li>
          <li><a href="{{ path('app_expenses') }}">Expenses</a></li>
          <li><a href="{{ path('app_transport_list') }}">Book Transport</a></li>
          <li><a href="{{ path('app_statut_index') }}">Forum</a></li>
          <li class="dropdown">
            <a href="#"><span>Account</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{{ path('app_user_settings') }}">Settings</a></li>
              <li><a href="{{ path('app_logout') }}">Logout</a></li>
            </ul>
          </li>
        </ul>
        {% endblock %}

{% block body %}
<section class="container py-5">
    <h1 class="mb-4 text-center">Mes Voyages</h1>
    <div class="voyage-cards">
        {% for voyage in voyages %}
            
            <div class="voyage-card" onclick="location.href='{{ path('app_voyage_show_employee', {'id': voyage.id}) }}'">
                <h3 class="voyage-title">✈ {{ voyage.title }}</h3>
                <p class="voyage-date">📅 Début : {{ voyage.dateDepart ? voyage.dateDepart|date('d M Y') : 'Non défini' }}</p>
                <p class="voyage-date">📅 Fin : {{ voyage.dateRetour ? voyage.dateRetour|date('d M Y') : 'Non défini' }}</p>
                <p class="voyage-etat">📌 État : {{ voyage.etat }}</p>
                <a href="{{ path('app_voyage_show_employee', {'id': voyage.id}) }}" class="btn-details">Voir Détails</a>
            </div>
            
        {% else %}
            <p>Aucun voyage trouvé.</p>
        {% endfor %}
    </div>
</section>

{% endblock %}
