{% extends 'base.html.twig' %}

{% block title %}Flight index{% endblock %}

{% block body %}
    <h1>Flight index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Flight_number</th>
                <th>Airline</th>
                <th>Departure_datetime</th>
                <th>Departure_airport</th>
                <th>Arrival_datetime</th>
                <th>Arrival_airport</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flight in flights %}
            <tr>
                <td>{{ flight.id }}</td>
                <td>{{ flight.flightNumber }}</td>
                <td>{{ flight.airline }}</td>
                <td>{{ flight.departureDatetime ? flight.departureDatetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ flight.departureAirport }}</td>
                <td>{{ flight.arrivalDatetime ? flight.arrivalDatetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ flight.arrivalAirport }}</td>
                <td>
                    <a href="{{ path('app_flight_show', {'id': flight.id}) }}">show</a>
                    <a href="{{ path('app_flight_edit', {'id': flight.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_flight_new') }}">Create new</a>
{% endblock %}
