{% extends 'front/employee_home/index.html.twig' %}

{% block title %}Flight Details{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card shadow-lg border-0">
            <div class="card-header bg-primary text-white text-center">
                <h2 class="mb-0">Flight Details</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <th scope="row" class="w-25">Flight Number</th>
                            <td>{{ flight.flight_number }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Airline</th>
                            <td>{{ flight.airline }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Departure Date & Time</th>
                            <td>
                                {{ flight.departureDatetime ? flight.departureDatetime|date('l, d M Y - H:i') : 'N/A' }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Departure Airport</th>
                            <td>{{ flight.departureAirport }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Arrival Date & Time</th>
                            <td>
                                {{ flight.arrivalDatetime ? flight.arrivalDatetime|date('l, d M Y - H:i') : 'N/A' }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Arrival Airport</th>
                            <td>{{ flight.arrivalAirport }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
