{% extends 'base.html.twig' %}

{% block title %}Flight{% endblock %}

{% block body %}
    <h1>Flight</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flight.id }}</td>
            </tr>
            <tr>
                <th>Flight_number</th>
                <td>{{ flight.flight_number }}</td>
            </tr>
            <tr>
                <th>Airline</th>
                <td>{{ flight.airline }}</td>
            </tr>
            <tr>
                <th>Departure_datetime</th>
                <td>{{ flight.departureDatetime ? flight.departureDatetime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Departure_airport</th>
                <td>{{ flight.departureAirport }}</td>
            </tr>
            <tr>
                <th>Arrival_datetime</th>
                <td>{{ flight.arrivalDatetime ? flight.arrivalDatetime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Arrival_airport</th>
                <td>{{ flight.arrivalAirport }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_flight_index') }}">back to list</a>

    <a href="{{ path('app_flight_edit', {'id': flight.id}) }}">edit</a>

    {{ include('flight/_delete_form.html.twig') }}
{% endblock %}
