<<<<<<< HEAD
{{ form_start(form) }}
=======
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
>>>>>>> 09b8388c89382e4ec195998d936bfb04cb5d37ed
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
