{% extends 'back/base.html.twig' %}

{% block title %}Index Mission{% endblock %}

{% block body %}
    <h1>Mission index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Lieu</th>
                <th>Description</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Type</th>
                <th>Duree</th>
                <th>VoyageId</th>
                <th>UserId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.id }}</td>
                <td>{{ mission.title }}</td>
                <td>{{ mission.lieu }}</td>
                <td>{{ mission.description }}</td>
                <td>{{ mission.dateDebut ? mission.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mission.dateFin ? mission.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mission.type }}</td>
                <td>{{ mission.duree }}</td>
                <td>{{ mission.voyageId }}</td>
                <td>{{ mission.userId }}</td>
                <td>
                    <a href="{{ path('app_mission_show', {'id': mission.id}) }}">show</a>
                    <a href="{{ path('app_mission_edit', {'id': mission.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mission_new') }}">Create new</a>
{% endblock %}
